.banner {

    padding: 80px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        width: 45%;

        p {
            font-size: 1.1rem;
            line-height: 2rem;
            margin-bottom: 2rem;
        }
    }

    &__image {
        max-width: 350px;

        img {
            width: 100%;
        }
    }

    &__disclamer {
        margin-top: 25px;
        color: #516f90;
        font-size: 0.8rem;

    }
}