.community {
    padding: 80px 0;
    background-image: linear-gradient(45deg,#00a4bd,#00bda5);
    text-align: center;
    color: #fff;

    &__numbers {
        display: flex;
        flex-wrap: wrap;
        padding-top: 30px;

        & > div {
            width: 25%;
            border-top: 1px solid #fff;
            border-right: 1px solid #fff;

            &:nth-child(4n) {
                border-right: 0px;
            }

            &:nth-child(-n+4) {
                border-top: 0px;
            }
        }
    }
}