.customers {
    padding: 80px 0;

    .container {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        width: 33%;

        p {
            font-size: 1.3rem;
            line-height: 2rem;
        }
    }

    &__logos {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: 600px;
    }

    &__logo {
        width: 25%;
        padding: 20px;
    }
}