.footer {
    padding: 80px 0;
    background-color: $main-color;
    color: #fff;

    &__nav {
        display: flex;

        &-col {
            width: 25%;
            padding: 0 15px;
        }
    }

    &__langs {
        padding: 40px 0;
        border-bottom: 1px solid #7c98b6;
    }

    &__bottom {
        padding-top: 40px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}