.header-top-bar {

    background-color: #f5f8fa;
    border-bottom: 1px solid $secondary-color;
    height: 85px;

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        align-items: center;

        &--right {
            .header-top-bar__item {
                padding-right: 0px;
                padding: 0 10px;
            }
        }
    }

    &__item {
        padding: 0 15px;

        &:first-child {
            padding-left: 0px;
        }
    }
}

.header-nav {
    margin-top: 86px;
    padding: 20px 0;

    .container {
        height: 100%;
        display: flex;
        align-items: center;
    }
}