.hero {
    position: relative;
    height: calc(100% - 165px);
    padding: 40px;
    background-color: #fadfb4;
    background-image: url('../images/hero-image.webp');
    background-position: top center;
    background-repeat: no-repeat;
    text-align: center;

    &__text {
        position: absolute;
        background-color: #fadfb4;
        padding-bottom: 20px;
        text-align: center;
        bottom: 0;
        left: 0;
        width: 100%;

        p {
            font-weight: bold;
            line-height: 1.5rem;
        }
    }

    &__btns {
        display: flex;
        justify-content: center;

        li {
            margin: 0 15px;
        }
    }
}