.services {
    background-color: #f5f8fa;
    padding: 80px 0;

    .container {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        width: 33.33%;
        padding: 10px;
    }
}