* {
    box-sizing: border-box;
}

html, body {
    height: 100%
}

a {
    text-decoration: none;
    color: $main-color;
}

.container {
    max-width: 1080px;
    margin: 0 auto;

    &--small {
        max-width: 720px;
    }
}
