body {
    font-family: 'Nunito','Helvetica Neue','Helvetica','Arial', sans-serif;
    font-size: 100%;
    color: $main-font-color;
}

h1 {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 1.2rem;  
}

h3 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;  
}

p {
    margin-bottom: 0.8rem;
    line-height: 1.4rem;
}

b {
    font-weight: bold;
}