.arrow {
    &:after {
        content: '';
        display: inline-block;
        width: 0; 
        height: 0; 
    }

    &--up {
        @extend .arrow;
        &:after {
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;        
            border-bottom: 8px solid $arrow-color;
        }
    }

    &--down {
        @extend .arrow;
        &:after {
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;        
            border-top: 8px solid $arrow-color;
        }
    }

    &--right {
        @extend .arrow;
        &:after {
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;        
            border-left: 8px solid $arrow-color;
        }
    }

    &--left {
        @extend .arrow;
        &:after {
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;         
            border-right:8px solid $arrow-color; 
        }
    }
}