.btn {

    &__main {
        cursor: pointer;
        border: none;
        padding: 12px;
        border-radius: 3px;
        background-color: $main-btn-color;
        color: #fff;
        min-width: 100px;
        transition: 0.4s all;

        &:hover {
            opacity: 0.7;
        }

        &--inverse {
            background-color: #fff;
            color: $main-btn-color;
            border: 1px solid $main-btn-color;
        }

        &--light {
            background-color: #fff;
            color: $main-color;
        }

        // SIZE

        &--big {
            padding: 16px;
            min-width: 160px;
        }

        &--full {
            width: 100%;
        }
    }

    &__secondary {
        background-color: $main-color;
        color: #fff;
        font-weight: bold;
        padding: 10px 15px;
        border: none;
    }

    &__search {
        background-image: url('../images/search-icon.webp');
        background-size: contain;
        cursor: pointer;
        background-color: transparent;
        padding: 10px;
        border: none;
    }
}