.c-card {
    padding: 40px 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
    transition: 0.4s all;

    &__title {
        font-weight: bold;
        font-size: 1.4rem;
    }

    &__icon {
        width: 30px;
        margin-right: 10px;
        vertical-align: bottom;
    }

    &__info {
        padding: 15px 0 10px 0;
    }

    &__features {

        padding-bottom: 25px;
        
        &-title {
            border-top: 1px solid $secondary-color;
            padding: 20px 0;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.9rem;
        }
    }

    &__feature {

        margin-bottom: 10px;
        font-size: 0.9rem;

        &::before {
            content: url('../images/checkmark.svg');
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            margin-right: 10px;
        }

        &:last-child {
            margin-bottom: 0px;
        }
    }

    &:hover {
        transform: scale(1.02);
    }
}