.c-footer-nav {

    &__title {
        font-weight: bold;
        margin-bottom: 20px;
        font-size: 1.2rem;
    }

    &__list {
        padding-bottom: 15px;
    }

    &__item {
        padding: 10px 0;
    }

    &__link {
        color: $secondary-color;
        font-weight: bold;

        &:hover {
            color: $footer-link-hover;
        }
    }
}