.c-langs-nav {
    
    &__list {
        display: flex;
        justify-content: center;       
    }

    &__item {
        padding: 0 10px;
    }

    &__link {
        color: $secondary-color;
        font-size: 1.1rem;
        font-weight: bold;     
        
        &:hover {
            color: $footer-link-hover;
        }
    }
}