.c-lang-menu {
    position: relative;
    cursor: pointer;
    padding: 10px 0;

    &__current-lang {
        display: flex;
        align-items: center;
        border-right: 2px solid $secondary-color;
        padding-right: 15px;

        &::before {
            content: url('../images/language-switcher-icon.svg');
            display: block;
            width: 20px;
            padding-right: 10px;
        }

        &::after {
            margin: 0 10px;
        }
    }

    &__list {
        display: none;
        position: absolute;
        z-index: 1;
        top: 100%;
        right: 0;
        background-color: #fff;
        border: 1px solid $secondary-color;
        border-radius: 3px;
        padding: 20px;
    }

    &__item {
        padding: 10px 0px;
        font-weight: bold;

        &:first-child {
            padding-top: 0px;
        }

        &:last-child {
            padding-bottom: 0;
        }
    }

    &:hover {
        .c-lang-menu__list {
            display: block;
        }
    }
}