.c-main-nav {
    position: relative;
    width: 100%;

    &__list {
        display: flex;
        justify-content: flex-end;
    }

    &__item {
        padding: 10px 20px;

        &:hover {
            .c-main-nav__sub-list {
                display: block;
            }
        }

        &:last-child {
            padding-right: 0px;
        }
    }

    &__link {
        font-weight: bold;
        font-size: 20px;

        &::after {
            margin: 0 5px;
        } 
    }

    &__sub-list {
        display: none;
        position: absolute;
        z-index: 1;
        top: 100%;
        width: 100%;
        max-width: 895px;
        right: 0;
        background-color: #fff;
        border: 1px solid $secondary-color;
        border-radius: 3px;
        padding: 10px 20px;
    }

    &__sub-link {
        padding: 15px;

        &:hover {
            background-color: #e5f5f8;
            border-radius: 3px;
        }
    }

    &__sub-item {
        display: flex;
        padding: 10px 0;

        &-title {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 10px;
        }

        &-desc {
            font-size: 0.9rem;
            font-weight: 300;
            line-height: 1.5rem;
        }
    }
}